DEBUG=0

SECRET_KEY=your-actual-secret-key-goes-here-and-it-must-be-long-and-random-for-security

ALLOWED_HOSTS=퍼블릭ip,퍼블릭DNS

CSRF_TRUSTED_ORIGINS=http://퍼블릭아이피,https://퍼블릭DNS

DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password_or_app_password
DEFAULT_FROM_EMAIL=${EMAIL_HOST_USER}

SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
