amqp==5.3.1
asgiref==3.9.1
attrs==25.3.0
autobahn==24.4.2
automat==25.4.16
billiard==4.2.2
celery==5.5.3
certifi==2025.8.3
cffi==2.0.0
channels==4.3.1
channels-redis==4.3.0
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
coverage[toml]==7.10.7
cryptography==46.0.1
daphne==4.2.1
defusedxml==0.7.1
django==5.2.6
django-filter==25.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.28.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
msgpack==1.1.1
oauthlib==3.3.1
packaging==25.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
pygments==2.19.2
pyjwt==2.10.1
pyopenssl==25.3.0
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python3-openid==3.2.0
pyyaml==6.0.2
redis==6.4.0
referencing==0.36.2
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.27.1
service-identity==24.2.0
six==1.17.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sqlparse==0.5.3
twisted[tls]==25.5.0
txaio==25.6.1
typing-extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
zope-interface==8.0

# 추가 필수 패키지
django-two-factor-auth
django-otp
qrcode[pil]
Pillow
django-cors-headers
django-extensions
python-dotenv
gunicorn
