Django
djangorestframework
djoser
celery
redis
psycopg2-binary
drf-spectacular
django-filter
python-json-logger
daphne
channels
channels-redis
pytest
pytest-django
pytest-cov
# For setting environment variables in pytest
pytest-env
# For Gemini API
google-generativeai
