Django
djangorestframework
djoser
celery
redis
psycopg2-binary
drf-spectacular
django-filter
python-json-logger
daphne
channels
channels-redis
pytest
pytest-django
pytest-cov
pytest-mock
django-otp
qrcode[pil]
Pillow
django-extensions
python-dotenv