option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: "awseb-e-xfwa8ab3qy-stack-awsebrdsdatabase-s3jlozdln3fa.cr0wwkm88v7i.ap-northeast-2.rds.amazonaws.com"
    RDS_PORT: "5432"
    RDS_DB_NAME: "ebdb"
    RDS_USERNAME: "ozbe12"
    RDS_PASSWORD: "zxc85e156a"
    DEBUG: "0"