option_settings:
  aws:elasticbeanstalk:application:environment:
    SKIP_DB_CHECK: "true"
    DB_HOST: "oz-digital-human-db.cr0wwkm88v7i.ap-northeast-2.rds.amazonaws.com"
    DB_NAME: "oz-digital-human-db"
    DB_USER: "postgres"
    DB_PORT: "5432"
    DEBUG: "0"
    ALLOWED_HOSTS: "oz-digital-human-env.eba-dipavmms.ap-northeast-2.elasticbeanstalk.com"
