option_settings:
  aws:elasticbeanstalk:application:environment:
    SKIP_DB_CHECK: "true"
    DB_HOST: "awseb-e-xfwa8ab3qy-stack-awsebrdsdatabase-s3jlozdln3fa.cr0wwkm88v7i.ap-northeast-2.rds.amazonaws.com"
    DB_NAME: "ebdb"
    DB_USER: "ozbe12"
    DB_PORT: "5432"
    DEBUG: "0"
    ALLOWED_HOSTS: "oz-digital-human-env.eba-dipavmms.ap-northeast-2.elasticbeanstalk.com"
    RDS_HOSTNAME: "awseb-e-xfwa8ab3qy-stack-awsebrdsdatabase-s3jlozdln3fa.cr0wwkm88v7i.ap-northeast-2.rds.amazonaws.com"
    RDS_PORT: "5432"
    RDS_DB_NAME: "ebdb"
    RDS_USERNAME: "ozbe12"
    RDS_PASSWORD: ""