option_settings:
  aws:elasticbeanstalk:command:
    # Keep the application log group for 30 days
    LogRetentionInDays: 30

files:
  "/etc/awslogs/config/daphne.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/daphne.log]
      log_group_name = `/opt/elasticbeanstalk/bin/get-config environment -k LOG_GROUP_NAME`
      log_stream_name = {instance_id}
      file = /var/log/daphne.log
